<form class="addIntentsPage" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="addIntentsPage__head">
    <p class="addIntentsPage__title mainTitle" translate>entity.add-entity</p>
    <button class="content__btn" type="submit" translate>train</button>
  </div>
  <div class="addIntentsPage__body">
    <div class="addIntentsPage__field">
      <p class="addIntentsPage__fieldText">{{'entity.entity-name' | translate}}:</p>
      <div class="addIntentsPage__fieldInputMain">
        <input class="addIntentsPage__fieldInput"
               [ngClass]="{'empty': isEntityNameEmpty}"
               formControlName="entityName"
               (input)="onAddEntityName()"
        />
        <span
          class="form-help-text"
          *ngIf="form.get('entityName').invalid && form.get('entityName').touched || isEntityNameEmpty"
        >Please provide an entity name.</span>
      </div>
    </div>
    <div class="addIntentsPage__dropDownLines">
      <div class="addIntentsPage__dropDownLine" appDropdown>
        <div class="addIntentsPage__dropDownTitle">
          <p translate>examples</p>
          <div class="addIntentsPage__dropDownTitleIcon  dropdown"></div>
        </div>
        <div class="addBlockListItem inner" *ngFor="let example of examples; let i = index">
          <div class="addBlockListItemMain">
            <p class="addBlockListItemText"
               [contentEditable]="example.editMode"
               (input)="onEditExample($event)"
            >{{example.example}}</p>
            <div class="popup__addBlockListItemBtns" *ngIf="example.editMode">
              <div class="addBlockCancelBtn" (click)="cancelEditExample(i)" translate>cancel</div>
              <div class="addBlockSaveBtn" (click)="saveEditExample(i)" translate>save</div>
            </div>
            <div class="addBlockListItemBtns" *ngIf="!example.editMode">
              <div class="addBlockListItemBtn delete" (click)="deleteExample(i)"></div>
              <div class="addBlockListItemBtn edit" (click)="editExample(i)"></div>
            </div>
          </div>
        </div>
        <form class="addIntentsPage__dropDownField" [formGroup]="exampleForm" (ngSubmit)="onExampleAdd()">
          <input class="addIntentsPage__dropDownFieldInput"
                 placeholder="{{'add-example' | translate}}"
                 formControlName="newExample"
          />
          <button class="addIntentsPage__dropDownFieldBtn" type="submit" translate>add</button>
        </form>
      </div>
    </div>
  </div>
</form>
